.nav {
  background-color: #4f4e4e;
}

ul {
  margin: 0;
  display: flex;
  padding: 0 0 2% 0;
  place-content: space-evenly;
  font-size: 25px;
}

li {
  list-style: none;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky {
  padding-top: 20px;
}

ul.sticky {
  margin: 0;
  display: flex;
  padding: 2% 0 2% 0;
  place-content: space-evenly;
  font-size: 25px;
}
