.nav {
  background-color: #4f4e4e;
}

ul {
  margin: 0;
  display: flex;
  padding: 0 0 2% 0;
  place-content: space-evenly;
  font-size: 25px;
}

li {
  list-style: none;
}

/* The sticky class is added to the header with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

/* Add some top padding to the page content to prevent sudden quick movement (as the header gets a new position at the top of the page (position:fixed and top:0) */
.sticky {
  padding-top: 102px;
}

ul.sticky {
  margin: 0;
  display: flex;
  padding: 2% 0 2% 0;
  place-content: space-evenly;
  font-size: 25px;
}
